<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info about lord</title>
<body>
<table>
    <caption>Lord list</caption>
    <tr>
        <th>name of planet</th>
        <th>destroy</th>
        <th>Edit</th>
    </tr>
    <div th:each="planet : ${lord.getPlanets()}">
        <tr>
            <td th:text="${planet.getName()}">name planet</td>

            <td>
                <form th:method="DELETE"
                      th:action="@{/lords_of_planets/info_lord/{lord_id}/lord_destroy_planet/{planet_id}(lord_id=${lord.getId()},planet_id=${planet.getId()})}">
                    <input type="submit" value="Delete"/></form>
            </td>
            <td>
                <form method="get"
                      th:action="@{/lords_of_planets/info_lord/{lord_id}/edit_lords_planet/{planet_id}(lord_id=${lord.getId()},planet_id=${planet.getId()})}">
                    <input type="submit" value="Edit"/></form>
            </td>
        </tr>
    </div>
</table>
<br/>

<form class="button-take_planet" th:method="get" th:action="@{/lords_of_planets/info_lord/{lord_id}/take_planet(lord_id=${lord.getId()})}">
    <button class="button" type="submit">Take planet</button>
</form>
<br>
<a th:href="@{/lords_of_planets}" class="button"> Back </a>

</body>
</html>