<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Take planet</title>
<body>

<table th:class="table-free-planet">
    <caption>List free planet</caption>
    <tr>
        <th>name free planet</th>
        <th>conquer</th>
    </tr>
    <div th:each="planet : ${planets}">
        <tr>
            <td th:text="${planet.getName()}">name planet</td>
            <td>
                <form th:method="POST"
                      th:action="@{/lords_of_planets/info_lord/{lord_id}/take_planet/{planet_id}(lord_id=${lord_id},planet_id=${planet.getId()})}">
                    <input type="submit" value="Select"/></form>
            </td>
        </tr>
    </div>
</table>
<br/>


<a th:href="@{/lords_of_planets/info_lord/{lord_id}(lord_id=${lord_id})}" class="button"> Back </a>
<br/>

</body>
</html>